* {
margin:0;
display:inline-block;
}

body{
background-color:blue;
}

.navbar{
 background-color:gray;
 border:2px solid red;
 height:50px:
 border-bottom:3px solid black;
}

nav li{
 flex-box
 list-style:none;
}
 
nav a{
 color:white;
 text-decoration:none;
}
