* {
margin:0;
box-shadow:inline-block;
}

body{
background-color:blue;
}

nav{
 background-color:gray;
 border:2px solid red;
 height:50px:
}

nav li{
 list-style:none;
}
 
nav a{
 color:white;
 text-decoration:none;
}
